name: "Terraform"
on:
  pull_request:
    branches:
      - master
      - main

jobs:
  terraform:
    name: "terraform"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Checkout HMCTS Libraries
        uses: actions/checkout@v6
        with:
          repository: hmcts/cnp-azuredevops-libraries
          path: cnp-azuredevops-libraries

      - name: Setup Script
        run: |
          chmod +x cnp-azuredevops-libraries/scripts/tfenv-install-terraform.sh

      - name: Setup Terraform
        run: ./cnp-azuredevops-libraries/scripts/tfenv-install-terraform.sh
        working-directory: ./
        shell: bash

      - name: Terraform Format Check
        run: terraform fmt -check -recursive

      - name: Terraform Init (Example)
        run: terraform init
        working-directory: example

      - name: Terraform Validate (Example)
        run: terraform validate
        working-directory: example

      - name: Terraform Init (Tests)
        run: terraform init
        working-directory: tests

      - name: Terraform Validate (Tests)
        run: terraform validate
        working-directory: tests